<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ah.openinbrowser</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>372BFECF-842E-4F1E-8EC9-3AA3DEB54633</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A578C48E-DF2A-4CD4-BF99-02B90AF5D539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>50F564A7-B4C5-4793-882F-2272FB65C609</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2087C08-9400-4511-AE97-F248016EE86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A20806A7-BA6A-4C10-8031-77BB204471C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4A36215-3C0A-40AD-983E-CB92EC670AEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A578C48E-DF2A-4CD4-BF99-02B90AF5D539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ABBAC9D-D89F-4E3F-82A0-5F68A8180DEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D44FC075-1C6D-4787-9728-D65A2B44E0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50F564A7-B4C5-4793-882F-2272FB65C609</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D4A36215-3C0A-40AD-983E-CB92EC670AEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8530DAC2-3ABE-46B8-8087-996CCFF0BD6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Huth</string>
	<key>description</key>
	<string>Opens the current browser tab in a different browser.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openinsafari</string>
				<key>subtext</key>
				<string>Open current Chrome tab in Safari</string>
				<key>text</key>
				<string>Open in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D44FC075-1C6D-4787-9728-D65A2B44E0E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript open_in_safari.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>50F564A7-B4C5-4793-882F-2272FB65C609</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Safari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2087C08-9400-4511-AE97-F248016EE86A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Chromium</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2ABBAC9D-D89F-4E3F-82A0-5F68A8180DEE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_chromium.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A578C48E-DF2A-4CD4-BF99-02B90AF5D539</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openinchromium</string>
				<key>subtext</key>
				<string>Open current Safari tab in Chromium</string>
				<key>text</key>
				<string>Open in Chromium</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>372BFECF-842E-4F1E-8EC9-3AA3DEB54633</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Open in Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8530DAC2-3ABE-46B8-8087-996CCFF0BD6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>osascript open_in_chrome.scpt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4A36215-3C0A-40AD-983E-CB92EC670AEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>openinchrome</string>
				<key>subtext</key>
				<string>Open current Safari tab in Chrome</string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A20806A7-BA6A-4C10-8031-77BB204471C1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Based on Andrew Curtis-Black’s workflow "Open current Safari tab in Chrome" (which itself is based on Runar's workflow of the same name) to better suit the needs of people (n=me) who regularly switch between Safari, Chromium and Chrome.

The script detects the current active browser and retrieves the URL of the active tab from it. The workflow will not do anything when neither Safari, Chromium or Chrome are the frontmost/active window to avoid confusion on which tab to clone.</string>
	<key>uidata</key>
	<dict>
		<key>2ABBAC9D-D89F-4E3F-82A0-5F68A8180DEE</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>372BFECF-842E-4F1E-8EC9-3AA3DEB54633</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>50F564A7-B4C5-4793-882F-2272FB65C609</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8530DAC2-3ABE-46B8-8087-996CCFF0BD6A</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A20806A7-BA6A-4C10-8031-77BB204471C1</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>A578C48E-DF2A-4CD4-BF99-02B90AF5D539</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>D44FC075-1C6D-4787-9728-D65A2B44E0E5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D4A36215-3C0A-40AD-983E-CB92EC670AEB</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>E2087C08-9400-4511-AE97-F248016EE86A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
